<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数据分析系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='flaskapp/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='flaskapp/css/metisMenu.min.css') }}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename='flaskapp/css/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ url_for('static', filename='flaskapp/css/dataTables.responsive.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='flaskapp/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='flaskapp/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="padding-top: 0">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">数据分析系统</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <form id="search" action="/search_result">
                                <input name="keyword" id="keyword1" type="text" class="form-control"
                                       placeholder="搜索...">
                            </form>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        onclick="document.getElementById('search').submit();">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>

                    <li>
                        <a href="/index"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 图表<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                {% if session.permission[-1]=='1' %}
                                    <a href="/charts/department1">农社科</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-2]=='1' %}
                                    <a href="/charts/department2">专利科</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-3]=='1' %}
                                    <a href="/charts/department3">法规科</a>
                                {% endif %}
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>

                        <a><i class="fa fa-table fa-fw"></i> 数据展示<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                {% if session.permission[-1]=='1' %}
                                    <a href="/catalog/department1">农社科</a>

                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-2]=='1' %}
                                    <a href="/tables/patent_1">专利科</a>

                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-3]=='1' %}
                                    <a href="/tables/law_1">法规科</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-4]=='1' %}
                                    <a href="/catalog/department4">合作交流科</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-5]=='1' %}
                                    <a href="/catalog/department5">高新科</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission[-6]=='1' %}
                                    <a href="/catalog/department6">成果科</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if session.permission=='111111' %}
                                    <a>汇总表<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href='/summary/sums_8'>人才</a>
                                        </li>
                                        {#                                        <li>#}
                                        {#                                            <a href='/summary/sums_3'>企业</a>#}
                                        {#                                        </li>#}
                                        {#                                        <li>#}
                                        {#                                            <a href='/summary/project'>项目</a>#}
                                        {#                                        </li>#}
                                        {#                                        <li>#}
                                        {#                                            <a href='/summary/vector'>载体</a>#}
                                        {#                                        </li>#}
                                        {#                                        <li>#}
                                        {#                                            <a href='/summary/R_D_institutions'>研发机构</a>#}
                                        {#                                        </li>#}
                                    </ul>
                                {% endif %}
                            </li>

                        </ul>
                    </li>
                    {% if current_user.roles[0].permissions ==3 %}
                        <li>
                            <a href="/upload"><i class="fa fa-edit fa-fw"></i> 文件上传</a>

                        </li>
                    {% endif %}
                    <li>
                        {% if current_user.roles[0].permissions>=15 %}
                            <a href="/index"><i class="fa fa-wrench fa-fw"></i> 后台管理
                                <span class="fa arrow"></span></a>
                        {% endif %}
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/tables/User">用户列表</a>
                                <a href="/register">新增用户</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    {% block content %}{% endblock %}

</div>
<!-- /#page-wrapper -->


<!-- jQuery -->
<script src="{{ url_for('static', filename='flaskapp/js/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='flaskapp/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='flaskapp/js/metisMenu.min.js') }}"></script>

<!-- DataTables JavaScript -->
<script src="{{ url_for('static', filename='flaskapp/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='flaskapp/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='flaskapp/js/dataTables.responsive.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='flaskapp/js/sb-admin-2.js') }}"></script>

<script src="{{ url_for('static', filename='flaskapp/js/buttons.html5.js') }}"></script>
<script src="{{ url_for('static', filename='flaskapp/js/buttons.print.js') }}"></script>
<script src="{{ url_for('static', filename='flaskapp/js/dataTables.buttons.js') }}"></script>


{#<script src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>#}
<script src="{{ url_for('static', filename='flaskapp/js/jszip.min.js') }}"></script>
{#<script src="//cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>#}


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('table.table').DataTable({
            dom: '<<"col-sm-4"l><"col-sm-5"B><"col-sm-3"f>>r<t><<"col-sm-6"i><"col-sm-6"p>>',
            "buttons": [
                {
                    'extend': 'excel',
                    'text': '导出',//定义导出excel按钮的文字
                    'title': $.trim($("div.panel-heading").text()),
                    'exportOptions': {
                        'modifier': {
                            {#                            'page': 'current'#}
                        }
                    }
                }
            ],

            {#            responsive: true,#}
            "language": {
                "url": "/Chinese.json"
            },
            "scrollX": true,

            "aLengthMenu": [[20, 50, -1], [20, 50, 'ALL']],
            "order": [[0, "desc"]],
            "columnDefs": [{
                "targets": -1,
                "render": function (data, type, full, meta) {
                    var local = window.location.href
                    var html = "<a href='" + local + "/detail/" + data + "' class='btn btn-default btn-xs' target='_blank'>编辑</a>"
                    html += "<a href='javascript:void(0);'  onclick='show_confirm(" + data + ")'  class='btn btn-default btn-xs'>删除</a>"


                    return html;
                }
            },
                {
                    "orderable": false,
                    "targets": -1
                }]
        });
    });
</script>
<script type="text/javascript">
    function show_confirm(data) {
        var r = confirm("确定要删除本条记录？");
        if (r == true) {
            alert("操作成功");
            location.href = window.location.href + "/delete/" + data
        }
    }
</script>
{#{% include "footer.html" %}#}
</body>

</html>
